@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgb(241, 240, 240), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#root{
  box-shadow: var(--box-shadow);
  padding: 10px 20px ;
}
* {
  box-sizing: border-box;
  color: #fff;
}

body{
  background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  font-family: 'Lato', sans-serif;
}
.container{
    margin: 30px auto ;
    width: 350px;
}
h1 {
    letter-spacing: 1px;
    margin: 0;
  }
  
  h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
  }
  
  h4 {
    margin: 0;
    text-transform: uppercase;
  }
.inc-expense{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    box-shadow: var(--box-shadow);
}
.inc-expense > div{
    flex: 1;
    text-align: center;
}
.inc-expense > div:first-of-type{
    border-right: 2px solid #8d8d8d ;
}
.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
  }
.list > li{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    color: #000;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: var(--box-shadow);
}
.list  > li span{
    color: #000;
}
.list li.plus {
    border-right: 5px solid #2ecc71;
  }
  
  .list li.minus {
    border-right: 5px solid #c0392b;
  }
.delete-btn{
    cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .delete-btn{
    opacity: 1;
}
label {
    display: inline-block;
    margin: 10px 0;
  }
  input[type='text'],
  input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  input:hover{
    box-shadow: 0px 0px 10px #fff;

  } 
  .money {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  .money.plus {
    color: #2ecc71;
  }
.list > .plus:hover {
    box-shadow: 0px 0px 20px #00ff6a;
  }
  .money.minus {
    color: #c0392b;
  }
  .list > .minus:hover {
    box-shadow: 0px 0px 20px #ff1900;
  }
.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #000;
  font-weight: bolder;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}


@media (max-width: 320px) {
  .container {
    width: 300px;
  }
} 
